fennica_parsed.csv.gz
*.log
||||||| merged common ancestors
=======
fennica.csv.gz
eps*
bibliographica
figure_flex
# *.html
.obsidian/
20160715-slides-Krakow.R
20160715-slides-Krakow.html
20160715-slides-Krakow.md
tmp*
20160715-slides-Krakow-figure
slides_201606_Krakow
*cache*
*.pdf
*~
summary_files/
data
*.Rds
*.RDs
*.RData
kungliga.Rds
fennica.Rds
