fennica_parsed.csv.gz
*.log
||||||| merged common ancestors
=======
fennica.csv.gz
eps*
bibliographica
figure_flex
*.html
20160715-slides-Krakow.R
20160715-slides-Krakow.html
20160715-slides-Krakow.md
tmp*
20160715-slides-Krakow-figure
slides_201606_Krakow
*cache*
misc*
misc.Rmd
*.pdf
*~
summary_files/
output.tables/*.csv
data
*.Rds
*.RDs
*.RData
kungliga.Rds
fennica.Rds
